<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">IBM</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/">All Questions</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isLoggedIn()">
        <a routerLink="/selected-question">Selected Question</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authService.isLoggedIn()">
        <a>{{welcomeMessage}}</a>
      </li>
      <!-- <li routerLinkActive="active" *ngIf="!authService.isLoggedIn()">
        <a routerLink="/signup">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li> -->
      <li routerLinkActive="active" *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isLoggedIn()">
        <a (click)="logoutUser()">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>