/* .intro{
    height:100%
  }
  
  .left{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100%;
    color : #FFF;
    padding: 5px;
  }
  .right{
    display : flex;
    text-align: left;
    align-items : center;
    background-color:#FFF;
    height : 100%;
  }
  @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  } */