<div class="modal-body row">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="col-lg-5 col-sm-12 left">
      <img [src]="img" alt="...">
    </div>
    <div class="col-lg-7 col-sm-12 right">
      <div class="row">
        <!-- Independent Questions Begin Here -->
        <div class="row">
          <!-- Array of Independent Questions -->
          <div *ngIf="independentQuestions">
            <h2>Independent Questions</h2>
            <!-- Each Independent Question -->
            <div *ngFor="let question of independentQuestions; let indIndex = index">
              <div *ngIf="question.answers">
                <div class="form-group">
                  <label for="questionText">
                    <strong>Q.
                      <span id="questionText">{{question.text}}</span>
                    </strong>
                  </label>
                  <!-- Answer choices for each Independent Question -->
                  <div class="form-group">
                    <label>
                      <strong>Choose answer:</strong>
                    </label>
                    <div *ngFor="let answer of question.answers">
                      <label>
                        <input type="radio" name="independentQuestion{{indIndex}}" [value]="answer" (click)="independentAnswer(question, independentRadio)"
                          #independentRadio> {{answer}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If Then Quesitons Begin Here -->
        <div class="row">
          <!-- Array of If Then Questions -->
          <div *ngIf="ifThens">
            <h2>If Then Questions</h2>
            <!-- Each If Then Question -->
            <div *ngFor="let question of ifThens; let ifThenIndex = index">
              <div class="form-group">
                <label>
                  <strong>Q.
                    <span>{{ question.if_question.text }}</span>
                  </strong>
                </label>
                <!-- Answer choices for each Independent Question -->
                <div class="form-group">
                  <label>
                    <strong>Choose answer:</strong>
                  </label>
                  <div *ngFor="let answer of question.if_question.answers">
                    <label>
                      <input type="radio" name="ifQuestion{{ifThenIndex}}" [value]="answer" (click)="ifAnswer(question, ifRadio)" #ifRadio> {{answer}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default">Submit</button>
  </form>
</div>