<div class="container">
  <div style="text-align: center">
    <div class="row">
      <div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Case #</th>
              <th scope="col">Case</th>
              <th scope="col">Answered By</th>
              <th scope="col">Answered</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of questions; index as i" [class.success]="question.isAnswered">
              <th scope="row" class="col-md-1">
                {{i+1}}
              </th>
              <td>
                <a [routerLink]="['/selected-question', question._id, i+1]">
                  <img class="avatar media-object" src="{{ question.img }}" alt="...">
                </a>
              </td>
              <td>
                <a [routerLink]="['/selected-question', question._id, i+1]">
                  <p *ngIf="question._answeredBy">{{question._answeredBy}}</p>
                </a>
              </td>
              <td>
                <span [routerLink]="['/selected-question', question._id, i+1]" class="glyphicon glyphicon-ok" *ngIf="question.isAnswered"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>